<!doctype html>

<html>
<style>
    form {
        margin: auto;
        width: 35%;
    }
    .result {
        margin: auto;
        width: 35%;
        border: 1px solid #ccc;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>CardioCare</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Cardiocare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
          </form>
        </div> -->
      </nav>
<div class="container">
    <form action="{{ url_for('main') }}" method="POST">
            <fieldset>
                    <legend>Input values:</legend>
                    BP:
                    <input name="bp" type="number" required>
                    <br>
                    <br> Tobaco:
                    <input name="tobaco" type="number" required>
                    <br>
                    <br> Cholestrol:
                    <input name="cholestrol" type="number" required>
                    <br>
                    <br> Adiposity:
                    <input name="adiposity" type="number" required>
                    <br>
                    <br> Family history:
                    <input name="fam_hist" type="number" required>
                    <br>
                    <br> Type A behaviour:
                    <input name="type_a_beh" type="number" required>
                    <br>
                    <br> Obesity:
                    <input name="obesity" type="number" required>
                    <br>
                    <br> Alcohol:
                    <input name="alcohol" type="number" required>
                    <br>
                    <br> Age:
                    <input name="age" type="number" required>
                    <br>
                    <br> 
                    <input type="submit">
            </fieldset>
        </form>        
</div>
<br>
<div class="container">
    <div class="result" align="center">
        {% if result %}
            {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
            <br>
            <br> Predicted number of bikes in use:
               <p style="font-size:50px">{{ result }}</p>
        {% endif %}
    </div>
</div>

</html>