<!doctype html>

<html>
<style>
    form {
        margin: auto;
        width: 35%;
        font-size: 80%
    }
    .result {
        margin: auto;
        width: 35%;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>CardioCare</title>
</head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal">Cardiocare</h4> 
        <nav class="my-2 my-md-0 mr-md-3">
        </nav>
        <!-- <a class="btn btn-outline-primary" href="#">Login</a> -->
      </div>

<div class="container">
    <form action="{{ url_for('main') }}" method="POST">
            <fieldset>
                    <legend>Enter values:</legend>
                    BP:
                    <input name="bp" type="number" step="0.01" required>
                    <br>
                    <br> Tobaco:
                    <input name="tobaco" type="number" step="0.01" required>
                    <br>
                    <br> Cholestrol:
                    <input name="cholestrol" type="number" step="0.01" required>
                    <br>
                    <br> Adiposity:
                    <input name="adiposity" type="number" step="0.01" required>
                    <br>
                    <br> Family history:
                    <input name="fam_hist" type="number" required>
                    <br>
                    <br> Type A behaviour:
                    <input name="type_a_beh" type="number" step="0.01" required>
                    <br>
                    <br> Obesity:
                    <input name="obesity" type="number" step="0.01" required>
                    <br>
                    <br> Alcohol:
                    <input name="alcohol" type="number" step="0.01" required>
                    <br>
                    <br> Age:
                    <input name="age" type="number" required>
                    <br>
                    <br> 
                    <input type="submit">
            </fieldset>
        </form>        
</div>
<br>
<div class="container">
    <div class="result">
        <div><h4>Result:</h4></div>
        {% if result %}
            <!-- {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
            <br> -->
            <!-- WE DONT NEED TO PRINT INPUT AGAIN RIGHT? -->
            <br> Predicted heart disease probability:
               <p style="font-size:50px">{{result}}</p>
        {% endif %}
    </div>
</div>

</html>